/*
main colors:
#501F3A dark purple
#CB2D6F pink
#CCCCCC clay
#14A098 aqua ish
#0F292F very dark blue
*/

body {
    margin: 0;
    color: #CCCCCC;
    background-color: #0f292f;
}

.account-container a {
    color: #14a098;

}

.topnav {
    background-color: #172c31;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px -2px  rgb(0, 0, 0, .2);
    padding: 1rem 1rem
  }

.mainnav {
    text-decoration: none;
    display: flex;
    align-items: center;
}

#navbar-account-button {
    gap: 0.25em;
}

.navbar-button {
    display: flex;
    color: #CCCCCC;
    align-items: center;
    text-decoration: none;
    font-size: 1.85rem;
}

.topnav a:hover {
color:#14a098;
}

.topnav a.active {
color:#14a098;
}

.account-container {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 1rem;
}

.input-container {
    position: relative;
}

.input-container {
    padding-left: 14px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #28353a;
    border-radius: 4px;
}

.input-container input {
    color: #CCCCCC;
    border: none;
    font-size: 1.1em;
    padding: 14px ;
    background-color: transparent;
}

.input-container img {
    height: 1.8em;
    width: 1.8em;
}



.input-container input:focus {
    outline: 2px solid #14A098;
}

.account-button {
    display: block;
    background-color: #14A098;
    font-size: 1.1em;
    border: none;
    border-radius: 4px;
    width: 100%;
    padding: 14px;
    color: #CCCCCC;
    box-shadow: 2px 4px 8px black;
    
}

.account-button:hover {
    cursor:pointer
}
