/*
main colors:
#501F3A dark purple
#CB2D6F pink
#CCCCCC clay
#14A098 aqua ish
#0F292F very dark blue
*/

body {
    margin: 0;
    background-color: #0f292f;
}

.topnav {
    background-color: #172c31;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px -2px  rgb(0, 0, 0, .2);
    padding: 1rem 1rem
  }

#navbar-account-button {
    gap: 0.25em;
}

#navbar.account-text {
    

}


.navbar-button {
display: flex;
color: #CCCCCC;
align-items: center;
text-decoration: none;
font-size: 1.85rem;
}

.topnav a:hover {
color:#14a098;
}

.topnav a.active {
color:#14a098;
}